.editable-field-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 80%;
  height: 48px;
  background-color: var(--white-smoke);
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--grey-secondary);
  transition: background-color 0.2s;
}

.editable-field-container.editing {
  border-color: var(--blue-primary);

}

.editable-field-label {
  font-weight: bold;
  font-size: small;
  color: var(--gray-500);
}

.editable-field-input {
  flex: 1;
  background-color: var(--white-smoke);
  font-size: medium;
  color: var(--black-primary);
  border: none;
  padding: 4px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}


.left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.right-side {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
  }
}