.classic-row-list {
  display: grid;
  // Cette fonction génère les colonnes automatiquement
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 12px 24px;
  gap: 16px;
  align-items: center;
  border-bottom: 1px solid var(--light-shade);

  &:hover {
    background-color: var(--white-smoke);
  }

  .list-item {
    font-size: 14px;
    color: var(--slate-grey);
    // Empêcher le texte de se wrapper sur plusieurs lignes par défaut
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // Si le contenu est long, permettre le wrap sur hover
    &:hover {
      white-space: normal;
      overflow: visible;
    }
  }
}

.mapping-row-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Ajustez le nombre selon vos besoins
  padding: 12px 24px;
  gap: 16px;
  align-items: center;
  border-bottom: 1px solid var(--light-shade);

  &:hover {
    background-color: var(--white-smoke);
  }

  .list-item {
    font-size: 14px;
    color: var(--slate-grey);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      white-space: normal;
      overflow: visible;
    }
  }
}

.colored-row-list {
  display: grid;
  // Cette fonction génère les colonnes automatiquement
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 25px 24px;
  gap: 16px;
  align-items: center;
  margin-bottom: 5px;
  background-color: var(--white);

  &:hover {
    background-color: var(--white);
  }

  .list-item {
    font-size: 14px;
    color: var(--slate-grey);
    // Empêcher le texte de se wrapper sur plusieurs lignes par défaut
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // Si le contenu est long, permettre le wrap sur hover
    &:hover {
      white-space: normal;
      overflow: visible;
    }
  }
}

.low-trust-row {
  background-color: #FFEBEE !important;
}

.medium-trust-row {
  background-color: #FFF3E0 !important;
}

.high-trust-row {
  background-color: #E6F4EA !important;
}

.info-trust-row {
  background-color: #E3F2FD !important;
  /* Light blue for info cases */
}

.default-trust-row {
  background-color: #F5F5F5 !important;
  /* Light gray for default/no match cases */
}